:root{
  --color-aloe-vera:#678779;
  --color-green-grass:#083a12;
  --color-green-blue:#4d978b;
  --color-green-cute:#68a87e;
  --color-green-beige:#d4e6be;
  --color-dark-green:#38513e;
  --color-green-grass2:#567a3f;

  --text-basic-font:
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
